<ion-view name="connect">

  <ion-nav-title>
    <div class="header-text">SnailBox Connect</div>
  </ion-nav-title>

  <ion-nav-buttons side="left">
    <i class="icon ion-ios-arrow-left" ng-click="back()"></i>
  </ion-nav-buttons>

  <ion-content padding="true" overflow-scroll="false">

    <div class="main-page-wrap">
      <div class="container">
        <div class="row flex-ends">
          <p>Connect and invite your phone contacts so you can give the right people access to your address.</p>
        </div>
      </div>

      <div class="flex-base-row-center">
        <button class="button button-base button-save" ng-click="connectCtrl.getContacts()">
          <p>Get Contacts</p>
        </button>
      </div>

      <div ng-repeat="contact in connectCtrl.phoneContacts">
        <p>{{contact.name.formatted}} - {{contact.phoneNumbers[0].value}}</p>
      </div>
    </div>

  </ion-content>


</ion-view>