<ion-view name="connect">

  <ion-nav-title>
    <div class="header-text">SnailBox Connect</div>
  </ion-nav-title>

  <ion-nav-buttons side="left">
    <i class="icon ion-ios-arrow-left" ng-click="back()"></i>
  </ion-nav-buttons>

  <ion-content padding="false" overflow-scroll="false">

    <div class="main-page-wrap">
      <div class="container">
        <div class="row flex-ends">
          <p style="padding: 0 10px;">Connect and invite your phone contacts so you can give the right people access to
            your address.</p>
        </div>
      </div>

      <div class="flex-base-row-center">
        <button class="button button-base button-save" ng-click="connectCtrl.getContacts()">
          <p>Get Contacts</p>
        </button>
      </div>

      <div class="contacts">
        <ion-list>
          <ion-checkbox class="item-checkbox-right contact-checkbox test">
            <p class="name">Emily Hagen</p>
            <p class="contact-phone">Mobile: 801-357-9616</p>
          </ion-checkbox>

          <ion-checkbox class="item-checkbox-right contact-checkbox test">
            <p class="name">Blake Hagen</p>
            <p class="contact-phone">Mobile: 801-755-5175</p>
          </ion-checkbox>

          <ion-checkbox class="item-checkbox-right contact-checkbox" ng-repeat="contact in connectCtrl.phoneContacts">
            <p class="name">{{contact.name}}</p>
            <p ng-if="contact.mobile" class="contact-phone">Mobile: {{contact.mobile}}</p>
            <p ng-if="contact.work && !contact.mobile" class="contact-phone">Work: {{ contact.work }}</p>
            <p ng-if="contact.home && (!contact.mobile && !contact.work)" class="contact-phone">Home: {{ contact.home}}</p>
          </ion-checkbox>
        </ion-list>
      </div>


      <!--<p>{{contact.name}}</p>-->
      <!--<p ng-if="contact.mobile">Mobile: {{ contact.mobile }}</p>-->
      <!--<p ng-if="contact.home">Home: {{ contact.home }}</p>-->
      <!--<p ng-if="contact.work">Work: {{ contact.work }}</p>-->

    </div>

  </ion-content>


</ion-view>