<ion-view name="addAddress">
  <ion-nav-title>
    <div class="header-text">SnailBox</div>
  </ion-nav-title>

  <ion-nav-buttons side="right">
    <i class="icon ion-log-out" ng-click="newAddressCtrl.logOut()"></i>
  </ion-nav-buttons>

  <ion-pane class="flex-base-col-center" ng-show="newAddressCtrl.loading">
    <div>
      <ion-spinner icon="circles" class="spinner-load"></ion-spinner>
    </div>
  </ion-pane>

  <ion-content ng-hide="newAddressCtrl.loading" padding="true" overflow-scroll="false">
    <div class="main-page-wrap">

      <div class="container">
        <div class="row flex-ends">
          <p class="address-title">Add My Address</p>
        </div>
      </div>

      <div class="container edit-address">

        <form name="addAddress"
              ng-submit="newAddressCtrl.createNewAddress(addAddress.$valid, newAddressCtrl.newAddress)" novalidate>
          <input type="text"
                 name="address1"
                 placeholder="Street Address*"
                 ng-model="newAddressCtrl.newAddress.address1"
                 ng-model-options="{debounce: 500}"
                 ng-class="addAddress.address1.$invalid && (!addAddress.address1.$pristine || addAddress.address1.$touched) ? 'invalid-address' : 'valid-address'"
                 required>

          <input type="text"
                 name="address2"
                 placeholder="Street Address Line 2"
                 ng-model="newAddressCtrl.newAddress.address2">

          <input type="text"
                 name="apt_suite"
                 placeholder="Apt/Suite Number"
                 ng-model="newAddressCtrl.newAddress.apt_suite">

          <input type="text"
                 name="city"
                 placeholder="City*"
                 ng-model="newAddressCtrl.newAddress.city"
                 ng-model-options="{debounce: 500}"
                 ng-class="addAddress.city.$invalid && (!addAddress.city.$pristine || addAddress.city.$touched) ? 'invalid-address' : 'valid-address'"
                 required>

          <input type="text"
                 name="state"
                 placeholder="State/Province*"
                 ng-model="newAddressCtrl.newAddress.state_province"
                 ng-model-options="{debounce: 500}"
                 ng-class="addAddress.state.$invalid && ( !addAddress.state.$pristine || addAddress.state.$touched ) ? 'invalid-address' : 'valid-address'"
                 required>

          <input type="text"
                 name="postalCode"
                 placeholder="Postal Code*"
                 ng-model="newAddressCtrl.newAddress.postal_code"
                 ng-model-options="{debounce: 500}"
                 ng-class="addAddress.postalCode.$invalid && (!addAddress.postalCode.$pristine || addAddress.postalCode.$touched) ? 'invalid-address' : 'valid-address'"
                 required>

          <input type="text"
                 name="country"
                 placeholder="Country*"
                 ng-model="newAddressCtrl.newAddress.country"
                 ng-model-options="{debounce: 500}"
                 ng-class="addAddress.country.$invalid && (!addAddress.country.$pristine || addAddress.country.$touched) ? 'invalid-address' : 'valid-address'"
                 required>

          <div class="container flex-base-row-start address-note">
            <p ng-if="!newAddressCtrl.error">* Required Field</p>
            <p id="err" ng-if="newAddressCtrl.error">* Please complete required fields</p>
          </div>

          <div class="flex-base-row-center">
            <button class="button button-base button-save" type="submit">
              <p>Save Address</p>
            </button>
          </div>
        </form>
      </div>

      <div class="container flex-base-row-center address-note">
        <i class="icon ion-locked"></i>
        <p>Address only visible to those you’ve given access to.</p>
      </div>

    </div>

  </ion-content>
</ion-view>