<ion-view name="user">
  <ion-nav-title>
    <div class="header-text">SnailBox</div>
  </ion-nav-title>

  <ion-nav-buttons side="left">
    <i class="icon ion-android-menu" ng-click="userCtrl.toggleMenu()"></i>
  </ion-nav-buttons>

  <ion-pane class="flex-base-col-center" ng-show="userCtrl.loading">
    <div>
      <ion-spinner icon="circles" class="spinner-load"></ion-spinner>
    </div>
  </ion-pane>

  <ion-content ng-hide="userCtrl.loading">
    <div class="main-page-wrap">

      <div class="container">
        <div class="row flex-ends">
          <p class="address-title">My Address</p>
          <i class="icon ion-compose" ng-hide="userCtrl.edit" ng-click="userCtrl.editMyAddress()"></i>
        </div>
      </div>

      <div class="container my-address" ng-hide="userCtrl.edit">
        <p>{{ userCtrl.userData.Address.address1 }}</p>
        <p ng-if="userCtrl.userData.Address.address2">{{ userCtrl.userData.Address.address2 }}</p>
        <p ng-if="userCtrl.userData.Address.apt_suite">Apt. {{ userCtrl.userData.Address.apt_suite }}</p>

        <p>{{ userCtrl.userData.Address.city }}, {{ userCtrl.userData.Address.state_province }} {{
          userCtrl.userData.Address.postal_code }}</p>
        <p>{{ userCtrl.userData.Address.country }}</p>
      </div>

      <div class="container edit-address" ng-show="userCtrl.edit">

        <div class="list">
          <label class="item item-input">
            <input type="text" placeholder="Street Address">
          </label>
          <label class="item item-input">
            <input type="text" placeholder="Street Address (cont.)">
          </label>
          <label class="item item-input">
            <input type="text" placeholder="Apt/Suite Number">
          </label>
          <label class="item item-input">
            <input type="text" placeholder="City">
          </label>
          <label class="item item-input">
            <input type="text" placeholder="State/Province">
          </label>
          <label class="item item-input">
            <input type="text" placeholder="Postal Code">
          </label>
          <label class="item item-input">
            <input type="text" placeholder="Country">
          </label>
        </div>
        <div class="flex-base-row-center">
          <button class="button button-base button-cancel" ng-click="userCtrl.cancelEdit()">
            <p>Cancel Edit</p>
          </button>
          <button class="button button-base button-save">
            <p>Save Address</p>
          </button>
        </div>
      </div>

      <div class="container flex-base-row-center address-note">
        <i class="icon ion-locked"></i>
        <p>Address only visible to those you’ve given access to.</p>
      </div>

    </div>

  </ion-content>
</ion-view>


