<div class="login-page-wrap flex-base-col-center">
  <div class="entry">
    <div class="title flex-base-row-center">
      <img src="./img/snailbox.png" alt="">
      <h1>SnailBox</h1>
    </div>
    <input type="text" placeholder="E-mail">
    <input type="password" placeholder="Password">
      <div class="btn flex-base-col-center" ng-click="splashCtrl.login()">
        Log In
      </div>

    <!--<div style="margin-top: 10px;" class="btn flex-base-col-center" ng-click="splashCtrl.testAPI()">-->
      <!--Test API-->
    <!--</div>-->
  </div>
</div>
