<ion-view hide-nav-bar="true">
  <div class="login-page-wrap flex-base-col-center">
    <div class="entry">
      <div class="title flex-base-row-center">
        <img src="./img/snailbox.png" alt="">
        <h1>SnailBox</h1>
      </div>

      <!-- LOGIN VIEW -->
      <div ng-if="splashCtrl.loginView">

        <div ng-if="!splashCtrl.loading">
          <input type="text"
                 placeholder="E-mail"
                 ng-model="splashCtrl.data.email">
          <input type="password"
                 placeholder="Password"
                 ng-model="splashCtrl.data.password">
          <div class="btn flex-base-col-center" ng-click="splashCtrl.login(splashCtrl.data)">
            Log In
          </div>
          <div class="flex-base-row-center splash-row">
            <p class="sign-up-txt" ng-click="splashCtrl.toggleEntryBox()">Create Account</p>
          </div>
        </div>

        <div class="flex-base-col-center" ng-if="splashCtrl.loading" style="padding-bottom: 16px;">
          <ion-spinner icon="circles" class="spinner-load" ng-if="!splashCtrl.err"></ion-spinner>
          <div ng-if="splashCtrl.err">
            <p id="err">Login Failed</p>
          </div>
        </div>

      </div>

      <!-- CREATE ACCOUNT VIEW -->
      <div ng-if="splashCtrl.createAccountView">
        <div ng-if="!splashCtrl.loading">

          <input type="text"
                 placeholder="First Name"
                 ng-model="splashCtrl.data.firstName">
          <input type="text"
                 placeholder="Last Name"
                 ng-model="splashCtrl.data.lastName">
          <input type="text"
                 placeholder="E-mail"
                 ng-model="splashCtrl.data.email">
          <input type="password"
                 placeholder="Password"
                 ng-model="splashCtrl.data.password">
          <input type="password"
                 placeholder="Confirm Password"
                 ng-model="splashCtrl.data.pw2">
          <div class="btn flex-base-col-center" ng-click="splashCtrl.signup(splashCtrl.data)">
            Register
          </div>
          <div class="flex-base-row-center splash-row">
            <p class="sign-up-txt" ng-click="splashCtrl.toggleEntryBox()">Login</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</ion-view>
