<ion-view name="user">

  <!-- TODO put this in directive -->
  <ion-nav-title>
    <div class="header-text">SnailBox</div>
  </ion-nav-title>


   <!--TODO put this in directive -->
  <ion-nav-buttons side="right">
    <i class="icon ion-log-out" ng-click="userCtrl.logOut()"></i>
  </ion-nav-buttons>

  <ion-pane class="flex-base-col-center" ng-show="userCtrl.loading">
    <div>
      <ion-spinner icon="circles" class="spinner-load"></ion-spinner>
    </div>
  </ion-pane>

  <ion-content ng-hide="userCtrl.loading" padding="true" overflow-scroll="false">
    <div class="main-page-wrap">

      <div class="container">
        <div class="row flex-ends">
          <p class="address-title">My Address</p>
          <i class="icon ion-compose" ng-hide="userCtrl.edit" ng-click="userCtrl.editMyAddress()"></i>
        </div>
      </div>

      <div class="container my-address" ng-hide="userCtrl.edit">
        <p>{{ userCtrl.userData.Address.address1 }}</p>
        <p ng-if="userCtrl.userData.Address.address2">{{ userCtrl.userData.Address.address2 }}</p>
        <p ng-if="userCtrl.userData.Address.apt_suite">Apt. {{ userCtrl.userData.Address.apt_suite }}</p>

        <p>{{ userCtrl.userData.Address.city }}, {{ userCtrl.userData.Address.state_province }} {{
          userCtrl.userData.Address.postal_code }}</p>
        <p>{{ userCtrl.userData.Address.country }}</p>
      </div>

      <div class="container edit-address" ng-show="userCtrl.edit">

        <form>
          <input type="text"
                 placeholder="Street Address"
                 ng-model="userCtrl.userData.Address.address1">

          <input type="text"
                 placeholder="Street Address (cont.)"
                 ng-model="userCtrl.userData.Address.address2">

          <input type="text"
                 placeholder="Apt/Suite Number"
                 ng-model="userCtrl.userData.Address.apt_suite">

          <input type="text"
                 placeholder="City"
                 ng-model="userCtrl.userData.Address.city">

          <input type="text"
                 placeholder="State/Province"
                 ng-model="userCtrl.userData.Address.state_province">

          <input type="text"
                 placeholder="Postal Code"
                 ng-model="userCtrl.userData.Address.postal_code">

          <input type="text"
                 placeholder="Country"
                 ng-model="userCtrl.userData.Address.country">
        </form>

        <div class="flex-base-row-center">

          <button class="button button-base button-cancel" ng-if="userCtrl.userData.Address.address1"
                  ng-click="userCtrl.cancelEdit()">
            <p>Cancel Edit</p>
          </button>

          <button class="button button-base button-save" ng-click="userCtrl.saveAddress()">
            <p>Save Address</p>

          </button>
        </div>
      </div>

      <div class="container flex-base-row-center address-note">
        <i class="icon ion-locked"></i>
        <p>Address only visible to those you’ve given access to.</p>
      </div>

      <button class="button button-base button-save" ng-click="userCtrl.getContacts()">
        <p>Get Contacts</p>
      </button>

      <div ng-repeat="contact in userCtrl.phoneContacts">
        <p>{{contact.name.formatted}}</p>
      </div>
    </div>

  </ion-content>
</ion-view>